@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 1200px;
    margin: auto;
    font-family: "Roboto";
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

.header p {
    font-weight: bold;
}

.tab {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.tab li {
    list-style-type: none;
}

.tab li a {
    text-decoration: none;
    color: #000;
}

.block_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}